.select-block label,
.input-block label,
.textarea-block label {
  font-size: 1.4rem;
  color: var(--color-text-complement);
}

.select-block select,
.input-block input,
.textarea-block textarea {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Archivo;
}

.input-block,
.textarea-block {
  position: relative;
}

.textarea-block textarea {
  padding: 1.2rem 1.6rem;
  height: 16rem;
  resize: vertical;
}

.input-block:focus-within::after,
.textarea-block:focus-within::after {
  content: '';
  width: calc(100% - 3.2rem);
  height: 2px;
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  bottom: 0;
}

.textarea-block:focus-within::after {
  content: '';
  bottom: 0.7rem;
}

footer button {
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.4rem Archivo;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  text-decoration: none;

  transition: background 0.2s;
}

footer button:hover {
  background: var(--color-secondary-dark);
}

/* The container must be positioned relative: */
.select-block {
  position: relative;
}

.select-block select {
  display: none; /*hide original SELECT element: */
  width: 100%;
  outline: 0;
  padding: 0 1.6rem;
  font: 1.6rem Poppins;
  color: var(--color-small-info);
}

.select-selected {
  border-radius: 0.8rem;
  border: 1px solid var(--color-line-in-white);
  height: 5.6rem;
  margin-top: 0.8rem;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: '>';
  top: 5.7rem;
  right: 3rem;
  width: 0;
  height: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: var(--color-text-base);
  font-size: 2rem;
  line-height: 0;
}

option:disabled {
  color: var(--color-small-info);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 6.5rem;
  right: 3rem;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 1.4rem;
  cursor: pointer;
  background-color: var(--color-input-background);
  color: var(--color-text-base);
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--color-input-background);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-items div {
  color: var(--color-text-base);
  border: 0.5px solid var(--color-line-in-white);
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--color-select-selected-background);
  color: var(--color-text-base);
  border-left: 2px solid var(--color-primary);
  height: 5.6rem;
  font-weight: 700;
}
