<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#8257E5" />
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />

    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/colors.css" />
    <link rel="stylesheet" href="./styles/fonts.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link rel="stylesheet" href="./styles/partials/page-success.css" />
  </head>

  <body id="page-success">
    <div id="container">
      <img
        src="./img/icons/success-check-icon.svg"
        alt="Cadastro Realizado com Sucesso"
        class="confirmation-icon"
      />
      <h1 class="success-elements">Cadastro salvo!</h1>
      <p class="success-elements">
        Tudo certo, seu cadastro está na nossa lista de professores. Agora é só
        ficar de olho no seu WhatsApp.
      </p>
      <button class="success-elements">
        <a href="./give-classes.html" class="go-to-list">Acessar Lista</a>
      </button>
    </div>

    <script>
      setTimeout(function () {
        // after 2 seconds
        window.location = `/study?subject={{subject}}&weekday={{weekday}}&time={{time}}`;
      }, 2000);
    </script>
    <script src="./scripts/main.js"></script>
  </body>
</html>
