.select-block label,
.input-block label,
.textarea-block label {
  font-size: 2rem;
  color: var(--color-text-complement);
}

#search-teachers label {
  color: var(--color-text-in-primary);
}

.select-block select,
.input-block input,
.textarea-block textarea {
  width: 100%;
  height: 5.6rem;
  margin-top: 0.8rem;
  border-radius: 0.8rem;
  background: var(--color-input-background);
  border: 1px solid var(--color-line-in-white);
  outline: 0;
  padding: 0 1.6rem;
  font: 400 2.4rem Archivo;
}

#search-teachers .select-block {
  margin-bottom: 1.4rem;
}

.input-block,
.textarea-block {
  position: relative;
}

.textarea-block textarea {
  padding: 1.2rem 1.6rem;
  height: 16rem;
  resize: vertical;
}

.input-block:focus-within::after,
.textarea-block:focus-within::after {
  content: '';
  width: calc(100% - 3.2rem);
  height: 2px;
  background: var(--color-primary-light);
  position: absolute;
  left: 1.6rem;
  bottom: 0;
}

.textarea-block:focus-within::after {
  content: '';
  bottom: 0.7rem;
}

.select-block {
  position: relative;
}

.select-block select {
  width: 100%;
  outline: 0;
  padding: 0 1.6rem;
  font: 1.8rem Poppins;
  color: var(--color-small-info);
}

label small {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  color: var(--color-small-info);
}

.button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secondary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 400 2.4rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 0.2s;
  margin-top: 3.2rem;
}

.button:hover {
  background-color: var(--color-secondary-dark);
}

.button a {
  font: 700 1.6rem Archivo;
  text-decoration: none;
  color: var(--color-button-text);
}

.teacher-item footer .button img {
  margin-right: 1rem;
  height: 2.6rem;
}

@media (min-width: 700px) {
  .select-block label,
  .input-block label,
  .textarea-block label {
    font-size: 1.6rem;
  }

  .select-block select,
  .input-block input,
  .textarea-block textarea {
    font: 1.6rem Archivo;
  }

  #search-teachers .select-block {
    margin-bottom: 0;
  }

  .button {
    font: 400 1.6rem Archivo;
  }

  .button a {
    font: 400 1.6rem Archivo;
  }
}
